
.btn {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: var(--font-body-m-size, 0.875rem);
    line-height: var(--font-body-m-line-height, 1.188rem);
    font-weight: var(--font-weight-semibold, 600);
    padding: 0.5rem;
    outline: none;
    opacity: 1;
    border: 0.0625rem solid transparent;
    border-radius: 0.25rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.btn-primary {
    color: var(--color-button-text-primary, #333333);
    background-color: var(--color-button-background-primary, #FFFFFF);
    border-color: var(--color-button-border-primary, #FFFFFF);
}

.btn:not(:disabled):hover {
    background-color: var(--color-button-background-hover-primary, #F5F5F5);
    border-color: var(--color-button-border-hover-primary, #F5F5F5);
}

.btn:disabled {
    color: var(--color-button-text-disabled, #8A8A8A);
    background-color: var(--color-button-background-disabled, #F5F5F5);
    border-color: var(--color-button-border-disabled, #E0E0E0);
    cursor: not-allowed;
}