.typo-body {    
    font-family: 'Open Sans', sans-serif;
    color: var(--color-body-text-primary, #333333);
    margin: 0;
    padding: 0.3125rem;
}

.typo-body-l {
    font-size: var(--font-body-l-size, 1rem);
    line-height: var(--font-body-l-line-height, 1.375rem);
}
.typo-body-s {
    font-size: var(--font-body-s-size, 0.75rem);
    line-height: var(--font-body-s-line-height, 1rem);
}
.typo-body-m {
    font-size: var(--font-body-m-size, 0.875rem);
    line-height: var(--font-body-m-line-height, 1.188rem);
}

.typo-body-regular {
    font-weight: var(--font-weight-regular, 400);
}

.typo-body-semibold {
    font-weight: var(--font-weight-semibold, 600);
}

.typo-body-bold {
    font-weight: var(--font-weight-bold, 700);
}